@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto sans-serif;
    height: 100vh;
    margin: 0;
    
    
}
.header, .box4 {
    background-color: #1f2937;
}
.header {
    display: flex; 
    flex-direction: column; 
}
.left {
    display: flex;
    justify-content: space-between;
}
.right {
    display: flex;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}
.hero {
    color: #f9faf8;
    font-size: 24px;
}
.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.hero-text, .links {
    color: #e5e7eb;
    font-size: 18px;
}
button {
    padding: 8px 16px;
    border: 8px;
}
button.click {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}
.title {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    margin: 50px;
    padding: 0px 100px; 
}
.box4 {
    width: auto;
}
.box3 {
    display: flex;
    background-color: #3882f6;
    padding: 16px;
    margin: 100px;
    justify-content: space-evenly;
    
}
.box1 {
    display: flex;
    gap: 5px;
}
.copyright {
    text-align: center;
    color: white;
    padding: 16px;
    margin: 0px;
}
.call-left {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 8px 24px;
    color: white;
    
}
.call {
    font-weight: bold;
}
button.click {
    display: flex;
    border: 2px solid white;
    padding: 8px 16px;
    font-weight: bold;
}
.call-right {
    padding: 10px;
    margin-top: 24px;
}